.home-container {
  height: 100%;
  background-color: black;
}
.home-description-container {
  background-color: #121212;
  padding: 20px;
  height: 100vh;
  display: flex;
}
.home-h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.home-p1 {
  color: white;
  font-size: 25px;
}

.find-jobs-btn {
  background-color: #4f46e5;
  height: 50px;
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 10px;
  border-width: 0px;
  align-self: flex-start;
}

.home-job-img {
  height: 500px;
  width: 600px;
}
